body{

	background-color: #85ecf1;
	border:solid black;
	border-radius:30px;
	margin-left:auto;
	margin-right:auto; 

}
*{
	margin:20px 40px 20px 40px;
}
body>header{
    text-align:center;
    display:inline;
	
}
.work1,.work2,.work3{

	font-size:14px;
	font-family:georgia;
	font-weight:bold;
}


.picture{
	width: 200px;
	height: 250px;
	margin: 10px;
	border: 3px solid #73AD21;
	position:absolute;
	top:62px;
	right:150px;
}

}
.address{

	position:absolute;
	top:20px;
}
.education{


	list-style-type:none;
	 list-style-type: upper-roman;

}
a:hover{
	color:green;
}
.ref1,.ref2,.ref3 {
   
   font-size:20px;
   display:inline-block;
   width:25%;

   
}

h1{
    margin:150px;

}
